# Ignore vscode folder
.vscode

# Ignore Library folder
Library

# Ignore Logs folder
Logs

# Ignore Packages folder
Packages

# Ignore ProjectSettings folder
ProjectSettings

# Ignore Temp folder
Temp